 @import "variable.scss";

.titre_logo{
    color: white !important;
   }
   
   .fa-user{
       color: white !important;
   }
   .dropdown-toggle{
       color: white !important;
   }
   
   #dropdo{
       margin-left: -103px;
   }
